.home-wrapper {
  margin: 0;
  max-width: 1920px;
  max-height: 1400px;
  width: 100%;
}

.home-widget {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    max-height: 852px;
    height: 100%;
    object-fit: cover;
    filter: brightness(22%);
  }

  div {
    position: absolute;
  }

  .who {
    color: white;
    padding-top: 220px;
    font-weight: $font-weight-semi-bold;
    font-style: italic;
    font-size: 40px;
    text-align: left;
    max-width: 80vh;
    max-height: 492px;
    width: 80%;
    line-height: 1.2;

    span {
      padding-left: 80%;
    }
  }
}

.about-section-title {
  display: flex;
  justify-content: center;
  position: relative;

  h2 {
    font-size: 75px;
    color: $beige;
    letter-spacing: 10px;
  }
}

.about-section-title-line {
  margin: 30px 0 0 0;
  border-top: 6px solid $beige;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 150%;
}