body {
  margin: 0;
  padding: 0;
  background: white;
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  box-sizing: border-box;
  overflow-x: hidden;
  box-sizing: border-box;
 
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}
