.product-box {
  position: relative;
  padding-top: 25px;
}

.product-info {
  padding-top: 35px;
}

.product-title {
  font-weight: $font-weight-bold;
  font-size: 46px;
  margin-bottom: 10px;
}

.line {
  border-top: 4px solid $beige;
}

.text {
  font-weight: $font-weight-regular;
}

.details {
  padding-top: 35px;
}

.qualities {
  font-weight: $font-weight-bold;
  font-size: 20px;

  span {
    color: $beige;
  }
}

.image {
  position: absolute;
  width: 47%;
  height: 100%;
  max-width: 553px;
  max-height: 400px;
  overflow: hidden;
  z-index: 1;
  right: 0;
}

.product-widget:nth-child(odd){
  .product-info{
    padding-left: 60%;
    text-align: left;
  }

  .image {
    left: 0;
    
  }
}